<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <h1>NAVBAR</h1>
    </header>
    <div>
        @RenderBody()
    </div>

    <footer>
        <h2>FOOTER</h2>
    </footer>
</body>
</html>
